.studentInfo{
    width: 50%;
}

.risk-assessment-form{
	display: block;
}
.departureAirport{
    width: 50%;
}

.dash{
    align-items: right;
}

.jumbo {
	align-content: center;
	align-items: center;
	text-align: center;
	color:#FFF;
	background-color: #000000;
}

.dash-btn {
	background-color: #000000;
	color:#FFF;
	border-color: #FF0000;
}
.react-datepicker {
	font-size: 1.3rem !important;
}

.react-datepicker__current-month {
	font-size: 1.5rem !important;
}

.react-datepicker__header {
	padding-top: 6px !important;
}

.react-datepicker__navigation {
	top: 13px !important;
}

.react-datepicker__day-name, .react-datepicker__day {
	margin: 0.5rem !important;
}

.display-metar{
	margin-bottom: 2em;
}

.vfr{
	color: #31931c;
}

.mvfr{
	color: #0e0baf
}
.ifr{
	color: #e0000c
}

.lifr{
	color: #d7018f
}

.error{
	margin-bottom: 2em;
	color: red;
}

.results-span{
	font-size: x-large;
	margin-bottom: 1em;
	padding-bottom: 2em;
}

.results-span-low{
	width: 100%;
	height: 40%;
	margin: 2.5em .5em 1.5em .5em;
	padding: .4em;
    color: white;
	font-size: x-large;
	background-color: #185f21
}

.results-span-med{
	width: 100%;
	height: 60%;
	margin: 1.5em .5em 1.5em .5em;
	padding: .4em;
	color: white;
	font-size: x-large;
	background-color: #e2c35a
}

.results-span-high{
	width: 100%;
	height: 60%;
	margin: 1.5em .5em 1.5em .5em;
	padding: .4em;
	color: white;
	font-size: x-large;
	background-color: #dc5f00
}

.results-span-no-go{
	width: 100%;
	height: 60%;
	margin: 1.5em .5em 1.5em .5em;
	padding: .4em;
	color: white;
	font-size: x-large;
	background-color: #dc0000
}

.category-risk{
	color: white;
	padding-top: 1em;
	padding-bottom: 1em;
}

.category-risk-low{
	background: #10806b;
}

.category-risk-med{
	background: #804410;
}

.category-risk-high{
	background: #801010;
}